<!DOCTYPE html>
<html>
<head>
  <title>Cycling weather app</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

</head>
<body class="admin-pages">

<% if !current_user %>
	<p>
	You must be signed in to view this page!
	</p>
	<p><%= link_to 'Sign in', signin_path %></p>
<% else %>
	<%= yield %>
	<br><br>
	<p> <%= link_to 'User profile', current_user %> | <%= link_to 'Sign out', signout_path, method: :delete %></p>
<% end %>
</body>

</html>
