<p id="notice"><%= notice %></p>

<p>
  <strong>Device:</strong>
  <%= @device.device_id %><br/>
  <strong>Device profile:</strong>
  <%= @device.device_profile.profile_name %><br/>
<% if current_user and @device.user.id == current_user.id %>
<%= link_to 'Edit', edit_device_path(@device) %> | 
<%= link_to 'Destroy', @device, method: :delete, data: { confirm: 'Are you sure?' } %> 
<% end %>
</p>
<%= link_to 'Devices list', devices_path %>
